# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=4.5=1_gnu
absl-py=1.0.0=pypi_0
aiohttp=3.8.1=pypi_0
aiosignal=1.2.0=pypi_0
antlr4-python3-runtime=4.8=pypi_0
async-timeout=4.0.2=pypi_0
asynctest=0.13.0=pypi_0
attrs=21.4.0=pypi_0
ca-certificates=2021.10.26=h06a4308_2
cachetools=5.0.0=pypi_0
certifi=2021.10.8=py37h06a4308_2
chardet=3.0.4=pypi_0
charset-normalizer=2.0.12=pypi_0
click=8.0.4=pypi_0
cycler=0.11.0=pypi_0
cython=0.29.28=pypi_0
datasets=1.2.1=pypi_0
dill=0.3.4=pypi_0
editdistance=0.5.3=pypi_0
fairscale=0.4.5=pypi_0
fasttext=0.9.1=pypi_0
filelock=3.6.0=pypi_0
frozenlist=1.3.0=pypi_0
fsspec=2022.2.0=pypi_0
ftfy=5.8=pypi_0
future=0.18.2=pypi_0
gitdb=4.0.9=pypi_0
gitpython=3.1.0=pypi_0
google-auth=2.6.0=pypi_0
google-auth-oauthlib=0.4.6=pypi_0
grpcio=1.44.0=pypi_0
huggingface-hub=0.10.1=pypi_0
idna=2.10=pypi_0
importlib-metadata=4.11.1=pypi_0
iopath=0.1.8=pypi_0
joblib=1.1.0=pypi_0
kiwisolver=1.3.2=pypi_0
ld_impl_linux-64=2.35.1=h7274673_9
libffi=3.3=he6710b0_2
libgcc-ng=9.3.0=h5101ec6_17
libgomp=9.3.0=h5101ec6_17
libstdcxx-ng=9.3.0=hd4cf53a_17
lmdb=0.98=pypi_0
markdown=3.3.6=pypi_0
matplotlib=3.3.4=pypi_0
mmf=1.0.0rc12=pypi_0
multidict=6.0.2=pypi_0
multiprocess=0.70.12.2=pypi_0
ncurses=6.3=h7f8727e_2
nltk=3.4.5=pypi_0
numpy=1.21.4=pypi_0
nvidia-ml-py=11.515.75=pypi_0
nvitop=0.10.1=pypi_0
oauthlib=3.2.0=pypi_0
omegaconf=2.1.0=pypi_0
opencv-python=4.7.0.72=pypi_0
openssl=1.1.1m=h7f8727e_0
packaging=21.3=pypi_0
pandas=1.3.5=pypi_0
pillow=8.3.1=pypi_0
pip=21.2.2=py37h06a4308_0
portalocker=2.4.0=pypi_0
protobuf=3.19.4=pypi_0
psutil=5.9.0=pypi_0
pyarrow=7.0.0=pypi_0
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
pybind11=2.9.1=pypi_0
pycocotools=2.0.2=pypi_0
pydeprecate=0.3.1=pypi_0
pyparsing=3.0.7=pypi_0
python=3.7.11=h12debd9_0
python-dateutil=2.8.2=pypi_0
pytorch-lightning=1.4.0=pypi_0
pytz=2021.3=pypi_0
pyxdameraulevenshtein=1.7.1=pypi_0
pyyaml=6.0=pypi_0
readline=8.1.2=h7f8727e_1
regex=2022.1.18=pypi_0
requests=2.23.0=pypi_0
requests-oauthlib=1.3.1=pypi_0
rsa=4.8=pypi_0
sacremoses=0.0.47=pypi_0
scikit-learn=1.0.2=pypi_0
scipy=1.7.3=pypi_0
sentencepiece=0.1.96=pypi_0
setuptools=58.0.4=py37h06a4308_0
six=1.16.0=pypi_0
sklearn=0.0=pypi_0
smmap=5.0.0=pypi_0
sqlite=3.37.2=hc218d9a_0
tensorboard=2.8.0=pypi_0
tensorboard-data-server=0.6.1=pypi_0
tensorboard-plugin-wit=1.8.1=pypi_0
termcolor=1.1.0=pypi_0
threadpoolctl=3.1.0=pypi_0
tk=8.6.11=h1ccaba5_0
tokenizers=0.13.1=pypi_0
torch=1.10.0+cu113=pypi_0
torchaudio=0.10.0+cu113=pypi_0
torchmetrics=0.7.2=pypi_0
torchtext=0.5.0=pypi_0
torchvision=0.11.0+cu113=pypi_0
tqdm=4.49.0=pypi_0
transformers=4.23.1=pypi_0
typing-extensions=4.1.1=pypi_0
urllib3=1.25.11=pypi_0
wcwidth=0.2.5=pypi_0
werkzeug=2.0.3=pypi_0
wheel=0.37.1=pyhd3eb1b0_0
xxhash=2.0.2=pypi_0
xz=5.2.5=h7b6447c_0
yarl=1.7.2=pypi_0
zipp=3.7.0=pypi_0
zlib=1.2.11=h7f8727e_4
